.personal-info
    .personal-info__avatar
        img.personal-info__avatar__img(src="", alt="avatar")
    .personal-info__about
        h2.personal-info__about__name Марк Байдебура
        h3.personal-info__about__desc Личный сайт веб-разработчика