.social-icons
    a(href="").icon-holder.icon-link
        svg.social-icons_sprite(viewBox="0 0 35 35")
            use.social-icons_sprite__item(xlink:href="assets/img/sprite.svg#vk")
    a(href="").icon-holder.icon-link
        svg.social-icons_sprite(viewBox="0 0 35 35")
            use.social-icons_sprite__item(xlink:href="assets/img/sprite.svg#github")
    a(href="").icon-holder.icon-link
        svg.social-icons_sprite(viewBox="0 0 35 35")
            use.social-icons_sprite__item(xlink:href="assets/img/sprite.svg#in")